@import url('https://fonts.googleapis.com/css?family=Alegreya:400,700|Bad+Script&display=swap');

/* сброс стилей браузера */
* {
    box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1.2;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol {
    padding-left: 1.4em;
    list-style: decimal;
}

ul {
    padding-left: 1.4em;
    list-style: square;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

/* конец кода сброса стилей браузера */

/*Два класса для показа и скрытия блоков с контентом*/

.hiden {
    display: none;
}

.visibility {
    display: block;
}

/*Кнопки меню*/

.nav_button {
    font-family: 'Bad Script', cursive;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    padding-top: 40px;
    text-align: center;
    list-style-type: none;
/*    margin: 10px;*/
    height: 150px;
    background-image: url(images/Button.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.acent {
    background-image: url(images/Button_acent.svg);
}

.nav_button:hover {
    font-size: 20px;
}

html {
    font-family: 'Alegreya', serif;
    line-height: 30px;
    font-size: 20px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    margin-top: 50px;
}

#main {
    width: 960px;
/*    height: 100%;*/
    margin: 0 auto;
}

nav {
    width: 240px;
    position: fixed;
}

.content {
    width: 720px;
    text-align: center;
    margin-top: 25px;
    padding: 20px;
    min-height: 95vh;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 3px 3px 5px black;
/*    overflow-y: auto;*/
}

.bg_div {
    float: right;
    background: url(images/note.svg) left top repeat-x;
}
